
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="text-center">Συνέβη κάποιο σφάλμα</h2>
            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-primary" role="alert">
                {{message}}
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-primary" role="alert">
                <a href="/"> < Επιστροφή στην αρχική οθόνη</a>
            </div>
        </div>

    </div>
